:where(:not(iframe,canvas,img,svg,video):not(svg *)){all:unset;display:revert}*,::after,::before{box-sizing:border-box}ol,ul{list-style:none}img{max-width:100%}table{border-collapse:collapse}textarea{white-space:revert}

*,
*::after,
*::before{
    box-sizing: border-box;
}
:root{
    --primary-color:#6B3CC9;
    --secondary-color:#F28D35;
    --analogous-color-1:#6A44F2;
    --analogous-color-2:#1CBDDD;
    --triadic-color-1:#52378C;
    --dark-color:#4DCA79;
    --text-color:#FFFFFF;
    --text-color-light:#FFFFFF;
    --text-color-subtle:#FFFFFF;
    --accent-color-1:#E2F2FE;
    --accent-color-2:#FFF8E0;
    --error-color:#FF0335;
    --success-color:#5EB30B;

}

body{
    margin: 0;
    font-family: "Poppins","Inter","Lato";
    
}
.btn-hero{
    background-color: var(--secondary-color);
    width: 214px;
    height: 38px;
    border-radius: 4px;
    padding: 12px, 20px, 12px, 20px;
    color: #FFFFFF;
    gap: 8px;
    margin-top: 15px;
    text-align: center ;
}



nav{
    display: flex;
    justify-content: space-between;
    height: 77px;
    position: fixed;
    background-color:  #6B3CC9;
    width: 1440px;
    z-index:100;
    transition: all 500ms ease;
}

nav.scrolled{
    background: var(--analogous-color-1);
    box-shadow: 0 16px 14px -8px rgba(0,0,0,0.3);
    border-radius: 0 0 8px 8px;
    top: 0;
    padding: 10px;
}
nav .logo{
    width:238.89px;
    height: 25px;
    margin-top: 16px;
    margin-left: 45px;
    
}
nav ul{
    display: flex;
    align-items: center;
    gap: 55px;
    margin-right: 80px;
    color:#FFFFFF;
}

.hero-section{
    background-image: url("./images/andy-kelly-0E_vhMVqL9g-unsplash\ 2\ \(1\).png");
    width: 1440px;
    height: 700px;
    position: relative;
    background-size: cover;
}
.banner{
    background: linear-gradient(256.73deg, #1CBDDD 27.86%, #4DCA79 100%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    display: inline-block;
    width: 630px;
    height: 306px;
    margin-top: 354px;
    margin-left: 80px;
    padding: 24px, 40px, 32px, 40px;
    gap: 20px;
    padding:30px 28px;

}
 h1{
    font-family: Inter;
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    color: #FFFFFF;
}

.testimonials-section-1,.testimonials-section-2{
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.testimonials-section-1 .right{
    width: 542px;
    height: 187px;
    gap: 20px;
    margin-top: 125px;
    margin-left: 145px;
}

.testimonials-section-2 .left{
    width: 542px;
    height: 187px;
    gap: 20px;
    margin-top: 125px;
    margin-left: 160px;
}
.testimonials-section-1 .left img{
    width: 414px;
    height: 414px;
    margin-left: 160px;

}

.testimonials-section-2 .right img{
    width: 414px;
    height: 414px;
    margin-left: 100px;

}
    
.testimonials-section-1 h3 ,.testimonials-section-2 h3{
    font-family: Poppins;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    letter-spacing: 0.4px;
    color: #6B3CC9;
}


.testimonials-section-1 p,.testimonials-section-2 p{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    margin-top: 15px;
}



.btn-test{
    background-color: #F28D35;
    width: 129px;
    height:38px;
    border-radius: 4px;
    padding: 12px, 20px, 12px, 20px;
    gap: 8px;
    color: #FFFFFF;
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -2%;
    text-align: center;
    margin-top: 15px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    background-color: #6B3CC9;
    width: 1440px;
    height: 324px;
   
    
}

.footer-left p{
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #FFFFFF;
}

.links-container{
    display: flex;
    align-items: center;
    gap: 60px;
    margin-right: 80px;
    

}

.links1 h3{
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

}

.links2 h3{
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-top: -13px;

}

.links1 ul{
    align-items: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
   

}

.links2 ul{
    align-items: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;


}

.terms-condition{
   
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 50px;
    display:block;
    margin-left: -922px;
    color: #FFFFFF;
    margin-top: 110px;

}

.logo2{
    margin: 35px 70px;
}
.footer-right{
    margin-top: 47px;
}




